
<body>
<div class="form-group" >
<h3>SoundCloud</h3>
    <div class="right-inner-addon">
        <i class="fa fa-search"></i>
        <input type="search"
               class="form-control" 
               id="search"
               placeholder="Search" />
    </div>
</div>

<div id="get" class="list-group">
</div>
</body>